/* CSS variables for wlogout
 * You can add it to wallust.toml with:

waybar = { src = "wlogout.css", dst = "~/.config/wlogout/colors.css" }

 * And then in you wlogout 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #B3B1AC;
@define-color background #151416;
@define-color foreground #99979A;
@define-color color0  #504D49;
@define-color color1  #716D74;
@define-color color2  #A27474;
@define-color color3  #7D8078;
@define-color color4  #BE8877;
@define-color color5  #A8A597;
@define-color color6  #FAE8D2;
@define-color color7  #9B989D;
@define-color color8  #6C6A6E;
@define-color color9  #716D74;
@define-color color10 #A27474;
@define-color color11 #7D8078;
@define-color color12 #BE8877;
@define-color color13 #A8A597;
@define-color color14 #FAE8D2;
@define-color color15 #9B989D;
