@import "./colors.css";

* {
  box-shadow: none;
}

window {
  background-color: rgba(0, 0, 0, 0.75);
}

button {
  color: #ffffff;
  opacity: 0.5;
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  box-shadow: none;
  border: 3px solid transparent;
}

button:focus,
button:active {
  background-color: rgba(90, 90, 90, 0.8);
  opacity: 1;
  outline-style: none;
}

button:hover {
  background-color: rgba(90, 90, 90, 0.4);
  opacity: 0.8;
  outline-style: none;
}

button label {
  opacity: 0;
  font-size: 0;
}

#lock {
  background-color: @color2;
  background-image: image(url("icons/lock.png"));
  border-radius: 20px 0px 0px 0px;
  margin: 30px 0px 0px 400px;
}

#reboot {
  background-color: @color3;
  background-image: image(url("icons/reboot.png"));
  border-radius: 0px 0px 0px 20px;
  margin: 0px 0px 30px 400px;
}

#logout {
  background-color: @color5;
  background-image: image(url("icons/logout.png"));
  border-radius: 0px 20px 0px 0px;
  margin: 30px 400px 0px 0px;
}

#shutdown {
  background-color: @color9;
  background-image: image(url("icons/shutdown.png"));
  border-radius: 0px 0px 20px 0px;
  margin: 0px 400px 30px 0px;
}
